*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    width: 100%;
    display: flex;
}
.notes{
    width: 40%;
    background-color: #595f68;
}
.add-note-form{
    width: 60%;
    background-color: #fff;
}

